* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #5e60ce, #64dfdf);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: #222;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  width: 300px;
}

#display {
  width: 100%;
  height: 60px;
  background: #111;
  color: #fff;
  font-size: 24px;
  text-align: right;
  border: none;
  outline: none;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  height: 60px;
  background: #333;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #555;
}

.operator {
  background: #ff7b00;
}

.operator:hover {
  background: #ffa41b;
}

.equal {
  background: #3b82f6;
  grid-row: span 2;
}

.equal:hover {
  background: #60a5fa;
}

.clear {
  background: #e63946;
  color: white;
}

.clear:hover {
  background: #ff4d6d;
}
